* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #cbb49d;
}
#navbar a {
  text-decoration: none;
  color: white;
  font-size: 28px;
}
#navbar a:hover {
  text-decoration: none;
  color: black;
  transition: 600ms linear;
}
#welcome-section {
  background-image: url("https://i.imgur.com/uHaWFt4.png");
  background-position: center;
  color: white;
  text-align: center;
  min-height: 50vh;
  padding-top: 50vh;
}
#welcome-section h1 {
  font-size: 60px;
}
#welcome-section p {
  font-size: 36px;
}
#projects {
  background: honeydew;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#projects h1 {
  font-size: 50px;
  padding-bottom: 50px;
}
.project {
  text-decoration: none;
  color: black;
  display: inline-block;
  overflow: hidden;
  border: 2px solid grey;
  height: 264px;
  width: 336px;
  margin: 40px 80px;
}
.project-pic {
  width: 100%;
  height: 224px;
  border-bottom: 2px solid grey;
}
#contact {
  background: lightgrey;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
}
#contact h1 {
  font-size: 50px;
  padding-bottom: 150px;
}
#contact .social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.icon a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
@media only screen and (max-width: 500px) {
  #navbar a{
    font-size: 20px;
    margin: 0 auto;
    justify-content: center;
  }
  #welcome-section h1{
    top: 25%;
  }
